# ignore all node_modules folders and nested folders & files
node_modules
# ignore the specific IDE configuration parameters
.vscode
.idea
# ignore the specific packages versions installed by the developper
package-lock.json
# ignore the development environment variables (if any)
.env
